body,html {
      padding: 0px;
      margin: 0px;
}

#header {
      height: 100vh;
      width: 100%;
      // background-color: rgb(250, 250, 250);
      background-color: #00BFA5;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
      font-family: Raleway, sans-serif;
}
 #headerContent {
       width: 100%;
      display: flex;
      align-items: center;
 }

 #headerMain {
       margin: 80px;
       h1 {
             font-size: 90px;
             font-family: Playfair Display, serif;
             margin-top: 0px;
             margin-bottom: 10px;
       }
       p {
            //   text-transform: uppercase;
             font-size: 25px;
             font-weight: 300;
      }
 }

#contact {
      margin: 30px 50px 50px 150px;
      div {
            height: 40px;
            display: flex;
      }
      img {
            fill: white;
      }
      .contact {
            width: 200px;
            margin: 0px;
            line-height: 40px;
            padding-left: 5px;
      }
      .contactImg {
            width: 30px;
            margin: 0px;
      }
      #linkedinImg {
            padding: 0px 3px 0px 4px;
      }
      #linkedin {
            padding-left: 2px;
      }
}
