$accentcolor: #00BFA5;
$grey: rgb(250, 250, 250);

body,html {
      padding: 0px;
      margin: 0px;
}

#header {
      height: 100vh;
      width: 100%;
      background-color: $accentcolor;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      font-family: Raleway, sans-serif;
      #headerContent {
            width: 100%;
            display: flex;
            align-items: center;
            padding-top: 30vh;
      }
      #headerMain {
            margin: 40px 80px 80px 120px;
            width: 100vw;
            h1 {
                  font-size: 90px;
                  font-family: Playfair Display, serif;
                  margin-top: 0px;
                  margin-bottom: 10px;
            }
            p {
                  font-size: 25px;
                  font-weight: 300;
            }
      }
      #arrowDiv {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
      }
      #arrow {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            img {
                  width: 64px;
                  height: 64px;
            }
      }
      #arrow:hover {
            margin-bottom: -15px;
      }
}
