@font-face {
      font-family: wask;
      src: url("fonts/wask_new_bold-webfont.woff");
}

body {
      margin: 0px;
      background-color: black;
}

/*
* Landing space
*/

.container {
      width: 100%;
      background-color: white;
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
}

/*Headline*/
.headline_container {
      height: auto;
      padding: 20px;
      border: 10px solid black;
}
h1 {
      font-size: 10em;
      font-family: wask;
      margin: 0px;
      line-height: 200px;
}

/*
* Main Text Part
*/

.text {
      font-family: Ubuntu;
      font-weight: 300;
      color: white;
      background-color: black;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.8em;
      line-height: 1.3em;
      padding-top: 30px;
      max-width: 90%;
}
