/* Coolors Exported Palette - coolors.co/83b692-f8f8f8-8ea4d2-c65b7c-2c3d4f */

/* HSL */
$color1: hsla(138%, 26%, 61%, 1);
$color2: hsla(0%, 0%, 97%, 1);
$color3: hsla(221%, 43%, 69%, 1);
$color4: hsla(341%, 48%, 57%, 1);
$color5: hsla(211%, 28%, 24%, 1);

/* RGB */
$color1: rgba(131, 182, 146, 1);
$color2: rgba(248, 248, 248, 1);
$color3: rgba(142, 164, 210, 1);
$color4: rgba(198, 91, 124, 1);
$color5: rgba(44, 61, 79, 1);